<div class="app combined navbar-fixed sidebar-fixed horizontal-menu">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow app-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/insurance-validator">Validator<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/insurance-claim">Claim<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/insurance-broker">Broker<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/my-insurance">My Insurance<span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>
</div>
