<div class="col-12 mb-4">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Processing Transaction</p>
  </ngx-spinner>
  <div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
      <h5 class="mb-0">Insurance Providers</h5>
    </div>
    <div class="card-body pt-0 widget-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Duration</th>
            <th>Description</th>
            <th>Purchase</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of premiums">
            <td class="align-middle text-truncate">{{p?.index}}</td>
            <td class="align-middle text-truncate">{{p?.name}}</td>
            <td class="align-middle text-truncate">{{p?.amount}}</td>
            <td class="align-middle text-truncate">{{p?.duration}}</td>
            <td class="align-middle text-truncate">{{p?.description}}</td>
            <td class="align-middle">
              <div class="btn-group" role="group">
                <button class="btn btn-success btn-sm" (click)="openModal(modalContent, p.index)"><i
                  class="fa fa-shopping-cart"></i></button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent>
  <div class="modal-body bg-gray">
    <div class="row">
      <div class="card-body widget-body">
        <form #insured="ngForm" (ngSubmit)="insured.form.valid && purchaseSubmit(insured)" name="addressForm"
              id="addressForm">
          <div class="form-group">
            <label for="name">Policy holder name</label>
            <input id="name" class="form-control" name="name" type="text" required ngModel>
          </div>
          <div class="form-group">
            <label for="plate">Vehicle plate number</label>
            <input id="plate" class="form-control" name="plate" type="text" required ngModel>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-rounded" [disabled]="!insured.valid" type="submit">Purchase</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
